*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
.container{
    width: 1360px;
    height: auto;
    padding: 0 16px;
    margin: 0 auto;
}
 body{
    background: #101011;
    width: 100%;
}
.nav{
    width: 100%;
    justify-content: space-between;
}
img[class*=logo_]{
    width: 90px;
    height: 90px;
}
.accueil{
    text-decoration: underline;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Questrial';
    color: #fff;
}
.accueil:hover{
    color: #fff;
}
.link{
    align-items: center;
    height: auto;
    gap: 40px;
}
.drop{
    width: 104px;
    border-radius: 5px;
    border: 1px solid rgba(42, 43, 46, 0.92);
    background: rgba(42, 43, 46, 0.59);
    backdrop-filter: blur(1.2000000476837158px);
}
.dropmenu{
    justify-content: center;
    display: flex;
    align-items: center;
    color: #FFF;
    font-family: 'Alata';
    font-weight: 400;
    font-size: 18px;
}
.dropmenu:hover{
    background-color: #8F581A;
}
.hr{
    color: #FFF;
    width: 100%;
}
.links1{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Questrial';
}
.links1:hover{
   color: #fff;
   text-decoration: underline;
}
.connexion1{
    display: flex;
    gap: 20px;
}
.connexion{
    padding: 12px 29px;
    font-family: 'Quattrocento Sans';
    font-weight: 700;
    color: #FFF;
    font-size: 18px;
    align-items: center;
    border-radius: 5px;
    border: 1px solid rgba(42, 43, 46, 0.92);
    background: rgba(42, 43, 46, 0.59);
    backdrop-filter: blur(1.2000000476837158px);
}
.connexion:hover{
   background: none;
   border: 1px solid rgba(42, 43, 46, 0.92); ;
}
span[class*=compte_]{
    border-radius: 50%;
    width: 50px;
    height: 48px;
    background-color: #8F581A;
}
span.ajout_panier{
    position: absolute;
    top: 33px;
    right: 8px;
    background: red;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #FFF;
    font-size: 12px;
}
a.shop{
    display: flex;
    align-items: center;
}


.info{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 36px;
    padding: 0 50% 0 0;
}
 h2.info-h2{
    width: auto;
    color: #8F581A;
    font-family: 'Alata';
    font-size: 48px;
    font-weight: 400;
    margin: 0;
}
 p.info-p{
    color: rgba(255, 255, 255, 0.50);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    font-family: 'Questrial';
    margin: 0;
    width: 100%;
}
button.info-btn{
    color: #FFF;
    font-family: 'Quattrocento Sans';
    font-weight: bold;
    width: 157px;
    padding: 12px 29px;
    align-items: center;
    border-radius: 20px;
    border: 0;
    background: #8F581A;
    box-shadow: 0px 5px 20px 2px rgba(255, 255, 255, 0.13);
}
.info-img-content{
    display: flex;
    justify-content: center;
    width: 50%;
    position: absolute;
    height: 434px;
    left: 50%;  
    opacity: 0.73;
}

.electronic_watch{
    display: flex;
    width: 100%;
    height: 277px;
    border-radius: 15px;
    background: rgba(217, 217, 217, 0.02);
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.25) inset;
}
section[class*=details_]{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background: none;
    height: auto;
}
img[class*=image_]{
    width: 203px;
    height: 269px;
    object-fit: contain;
}
/* img.image_1, img.image_4{
    width: 65%;
} */
/* img.image_2{
    width: 40%;
    height: auto;
} */
h3[class*=titres_]{
    position: relative;
    color: rgba(250, 128, 5, 0.56);
    font-family: Alata;
    font-size: 36px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    margin: 3%;
}
h3[class*=titres_1]:before{
    content: "";
    height: 4px;
    width: 93px;
    position: absolute;
    bottom: -8px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: rgba(250, 128, 5, 0.56);
}
h5[class*=titre]{
    color: #FFF;
    font-family: Alata;
    font-size: 30px;
    font-weight: 400;
    width: 100%;
}
p[class*=descri]{
    width: 50%;
    height: 52px;
    color: rgba(255, 255, 255, 0.50);
    font-family: Quattrocento Sans;
    font-size: 18px;
    font-weight: 400;
}
.prix{
    display:flex;
    gap: 30px;
}
p[class*=prix]{
    text-decoration:line-through;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}
span[class*=prix]{
    text-decoration:none;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}
button[class*=panier]{
    width: 60%;
    padding: 13px 12px;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: #4A2F10;
    color: #FFF;
    font-family: Alata;
    font-size: 20px;
    font-weight: 400;
    border: 0;
}
button[class*=panier]:hover{
    background: none;
    transition: 450ms ease-out;
    border: 1px solid #4A2F10;
}
.produits{
    row-gap: 30px;
    margin: 0 auto;
}


aside.decouvrir{
    height: 397px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-image: url(../images/decouvrir.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 5% auto;
    border-radius: 15px;
}
h3.titres_2{
    display: flex;
    justify-content: center;
    color: rgba(250, 128, 5, 0.56);
    font-family: 'Alata';
    font-size: 36px;
    font-weight: 400;
    line-height: 25px;
}
p.decouvrir-p{
    font-family: 'Questrial';
    font-size: 20px;
    color: rgba(255, 255, 255, 0.50);
    font-weight: 400;
    text-align: center;
}
button.decouvrir-btn{
    width: 263px;
    height: 92px;
    padding: 5px 17px;
    color: rgba(250, 128, 5, 0.56) ;
    border: 2px solid rgba(250, 128, 5, 0.56);
    background: none;
    font-family: 'Alata';
    font-size: 36px;
    font-weight: 400;
}
button.decouvrir-btn:hover{
    background: rgba(250, 128, 5, 0.56);
    color: #FFF;
    transition: 450ms ease-out;
    border: none;
}

footer{
    width: 100%;
    height: 473px;
    border-radius: 15px;
    background: rgba(217, 217, 217, 0.02);
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.25) inset;
    margin-top: 5%;
}
 #info{
    display: flex;
    align-items: center;
    position: relative;
}
 .info-footer{
    width: 50%;
    height: 276px;
}
 img.logo_footer{
    position: absolute;
    left: 5%;
}
h3.titres_3{
    margin: 0 auto;
}
p.info-footer{
    position: relative;
    left: 9%;
    width: 60%;
    color: rgba(255, 255, 255, 0.50);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    font-family: 'Questrial';
    margin: 0 auto;
}
.text{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 276px;
    width: 50%;
}
footer .contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer h5.contact{
    color: #8F581A;
    font-family: 'Alata';
    font-size: 28px;
}
footer p.contact{
    color: #FFFFFF;
    font-family: 'Alata';
    font-size: 20px;
}
footer p.copyright{
    position: relative;
    color: #fff;
    font-family: 'Questrial';
    font-size: 18px;
    text-align: center;
    margin: 5% auto;
}
footer p.copyright::before{
    content: "";
    height: 1px;
    background-color: #FFF;
    position: absolute;
    width: 566px;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -22px;
}
h3.titres_4{
    position: relative;
    background-image: url(../images/femme_princi.png);
    background-position: center;
    height: 450px;
    width: 100%;
    align-items: center;
    margin: 0 auto;
}
h3.titres_4::before{
    content: "";
    height: 4px;
    width: 155px;
    position: absolute;
    top: 57%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: rgba(180, 102, 23, 0.60);
}
h3.titres_5{
    position: relative;
    background-image: url(../images/homme_princi.png);
    background-position: center;
    height: 450px;
    width: 100%;
    align-items: center;
    margin: 0 auto;
}
h3.titres_5::before{
    content: "";
    height: 4px;
    width: 155px;
    position: absolute;
    top: 57%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: rgba(180, 102, 23, 0.60);
}


.page_connexion{
    background: #000 url(../images/connexion.png) center no-repeat;
    background-size: cover;
    box-shadow: 0px 4px 100px -2px rgba(255, 255, 255, 0.05);
    width: 1145px;
    height: 540px;
    right: 70%;
    border-radius: 20px;
    justify-content: center;
}
.header_login{
    display: flex;
    flex-direction: column;
    border: none;
    padding-bottom: 0;
}
h1.new_account{
    font-family: 'Alata';
    font-size: 42px !important;
    color: #8F581A;
    text-align: center;
}
.login{
    display: flex;
    gap: 5px;
}
p.login-p{
    color: #FFFFFF;
    font-family: 'Questrial';
    font-size: 25px;
}
a.sign{
    text-decoration: none;
}
span.sign_in{
    color:#8F581A;
    font-family: 'Questrial';
    font-size: 25px;
}
.coordonate{
    display: flex;
    flex-direction: column;
    gap: 10px;
    row-gap: 10px;
    align-items: center;
    justify-content: center;
}
input[class*=coordonate_]{
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.41);
    background: rgba(255, 255, 255, 0.17);
    height: 40px;
    font-family: 'Alata';
}
form.inscription{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
input.coordonate_password, input.coordonate_mail{
    width: 377px;
}
.Footer{
    border-top: 0;
    padding-top: 0;
    display: flex;
    justify-content: center;
}
button.connexion-btn{
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.41);
    background: rgba(255, 255, 255, 0.17);
    color: #FFF;
    font-family: 'Alata';
    align-items: center;
    justify-content: center;
}
button.connexion-btn:hover{
    background: rgba(250, 128, 5, 0.56) !important;
    transition: 450ms ease-out !important;
    border: none;
}
p.propos{
    width: 100%;
    font-family: 'Questrial';
    font-size: 28px;
    color: #FFF;
}
table.panier{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
section.boutique{
    background: #8F581A;
    width: 70%;
    padding: 10px;
    border-radius: 6px;
    margin: 0 auto;
}
table{
    border-collapse: collapse;
    width: 100%;
    letter-spacing: 1px;
    font-size: 13px;
}
th{
    padding: 10px 0;
    font-weight: 400;
    color: #FFF;
    font-family: 'Questrial';
}
td.image{
    width: 50px;
}
td.image img{
    width: 110px;
    height: auto;
}
td{
    border-top: 0.5px solid #101011;
    color: #FFF;
    font-family: 'Questrial';
}
tr{
    border-bottom: 0.5px solid #101011;
}








@media screen and (max-width:1200px) {
    button.info{
        margin: 0 auto;
    }
    .connexion1{
        background: none;
        display: flex;
        flex-direction: column;
    }
    span.compte_1{
        background: #8F581A;
        margin: auto;
    }
    span.compte_2, img.shop{
        display: none;
    }
    #hamburger{
       color: #FFF !important;
    }
   .sidebar{
    background: rgba(42, 43, 46, 0.59);
    opacity: 1;
   }
   img[class*=image_]{
    width: 200px;
    height: auto;
   }
   /* img.image_1{
    width: 42% !important;
   }
   img.image_4{
    width: 39% !important;
   } */
   footer p.info-footer{
    width: auto;
    height: auto;
    left: 2%;
}
   footer p.copyright{
    width: auto;
    margin-top: 5%;
}


    }
@media screen and (max-width:500px) {
    h3.titres_1{
        margin: 20% !important;
    }
    #hamburgerr{
       display: flex;
       justify-content: flex-end;
    }
    .info{
        padding: 0;
    }
    .info-img{
        width: 50%;
        height: auto;
    }
    .info-img-content{
        position: static !important;
        width: auto !important;
        margin: auto;
        height: auto;
    }
    img[class*=image_]{
        width: 170px;
        height: auto;
       }
    button[class*=panier]{
        width: 100%;
    }
    p[class*=descri]{
        margin: 0 auto;
        width: auto;
    }
    footer{
        height: auto;
    }
    footer .text{
        width: auto;
    }
    footer #info{
        height: auto;
        display: flex;
        flex-direction: column;
        column-gap: 5px;
    }
    img.logo_footer{
        left: 0;
    }
    footer h3.titres_3{
        flex-flow: column;
        margin: 0;
    }
    footer p.info-footer{
        width: auto;
        height: auto;
        left: 2%;
    }
    footer .contact{
        text-align: center;
        margin-top: 7%;
    }
    footer p.copyright{
        width: auto;
        margin-top: 20%;
    }
    footer p.copyright::before{
        width: auto;
    }
    h3.titres_4, h3.titres_5{
        text-align: center;
    }
    h3.titres_4::before{
        display: none;
    }
    h3.titres_5::before{
        display: none;
    }
    .page_connexion{
        height: 520px;
        width: auto;
        left: 0;
    }
}
@media screen and (max-width:375px){
    footer .contact{
        margin-top: 20%;
    }
}